:root {
  /* Main color */
  --main-color: #7e3eff;

  /* Text cool black */
  --gray-scale-900: #333333;
  --gray-scale-800: #888888;
  --gray-scale-700: #555555;
  --gray-scale-600: #60646c;
  --gray-scale-500: #787d87;
  --gray-scale-400: #93979f;
  --gray-scale-300: #aeb1b7;
  --gray-scale-200: #c9cbcf;
  --gray-scale-100: #e6e6e6;
  --gray-scale-050: #dddddd;
  --gray-scale-000: #ffffff;

  /* Content line */
  --border-color: #f2f2f2;

  /* Content BG */
  --content-bg: #f2f2f2;
  --content-main-bg: #f0f0ff;
  --content-sub-bg: #fde8e8;
}
