// 캘린더 전체
.react-calendar {
  border: 0;
  width: 100%;
  max-width: 100%;
  background: white;
  font-family: Pretendard, sans-serif;
  letter-spacing: -0.048rem;
  font-style: normal;
  line-height: normal;
}

// 싱단 네비게이션
.react-calendar__navigation {
  height: 5rem;
  // border-bottom: 1px solid #f5f5f5;
  background: #fff;
  margin-bottom: 0;
  width: 100%;

  // 좌우 버튼
  .react-calendar__navigation__arrow {
    font-size: 4rem;
    font-weight: 100;
    color: #bbbbbb;
  }

  span {
    color: var(--gray-scale-900);
    font-family: Pretendard;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #ffffff;
  border-radius: 50%;
}

// 월 달력
.react-calendar__month-view {
  padding-top: 1.6rem;

  abbr {
    color: var(--gray-scale-900);
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0.8rem;
    border-radius: 50%;
  }
}

// 요일
.react-calendar__month-view__weekdays {
  abbr {
    // 텍스트 부분
    color: #a8a8a8;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    text-decoration: none;
  }
}

// 일 (각 타일)
.react-calendar__tile {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*hover, focus, 선택됐을 시 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
  background: var(--gray-scale-000);

  abbr {
    color: #ffffff;
    background: var(--sub-color);
    padding: 0.8rem;
    border-radius: 50%;
  }
}

// 현재 날짜
.react-calendar__tile--now {
  background: var(--gray-scale-000);

  abbr {
    color: #ffffff;
    background: var(--gray-scale-050);
    padding: 0.8rem;
    border-radius: 50%;
  }
}

/*hover, focus 시 */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: var(--gray-scale-000);
}

.react-calendar__month-view__days__day--weekend {
  color: var(--gray-scale-900);
}
