/* 변수파일 */
@import "./utils";

.wrap-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100vh;
    // height: calc(100% - 280px);
    background: linear-gradient(270deg, var(--main-color) 0%, #eef3fd 100%);
    mix-blend-mode: darken;
  }
}
